.header-top {
    position: sticky;
    top: 0;
    background-color: #134B8A;
    max-width: 100vw;
    height: 60px;
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: white;
    z-index: 2;
}

.left {
    display: flex;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}