* {
  font-family: 'Kanit', sans-serif;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  position: relative;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

@media (max-width: 425px) {
  .responsive {
    display: none;
  }
  .header-sidebar {
    display: none;
  }
}